.btn {overflow:hidden;display:inline-block;text-align:center;vertical-align:top;letter-spacing:-0.25px;border-radius:5px;box-sizing:border-box;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.btn.small {height:28px;padding:0 10px;font-size:12px;line-height:28px;}
.btn.medium {height:40px;padding:0 25px;font-size:15px;line-height:42px;}
.btn.large {height:46px;padding:10px 50px 0;font-size:18px;line-height:28px;border-radius:42px;}
.btn.is-red {color:#fff;background-color:#d71826;}
.btn.is-red:hover {background-color:#b50916;}
.btn.is-lightgray {color:#fff;background-color:#484848;}
.btn.outline-lightgray {color:#666;border-color:#bbb;}
.btn.outline-lightgray:hover {border-color:#ccc;}
.btn.is-navygray {color:#fff;background-color:#333;}
.btn.is-navygray:hover{background-color:#000;}
.btn.outline-navygray {color:#222;border-color:#333;}
.btn.download {display:inline-block;width:128px;height:32px;font-size:15px;color:#393939;line-height:30px;border:2px solid #dcdcdc;border-radius:5px;}
[class*="btn circle"] {background-color:#fff;}
[class*="btn circle"]:hover {background-color:#ebebeb;}
[class*="outline-"] {border-width:2px;border-style:solid;}
[class*="small outline-"] {border-width:1px;line-height:28px !important;}
[class*="medium outline-"] {line-height:36px !important;}
[class*="large outline-"] {line-height:18px !important;}
[class*="medium outline-"]:hover,
[class*="large outline-"]:hover {background-color:#ebebeb;}

/* table - board */
table.board {border-top:3px solid #555;}
table.board th {color:#222;font-weight:normal;background-color:#f1f2fa;}
table.board thead th {border-bottom:1px solid #555;background-color:#f1f2fa;}
table.board tbody th {}
table.board tbody td {text-align:center;}
table.board tbody td a,
table.board tbody td img {vertical-align:middle;}

/* accordions */
.accordions {width:100%;border-top:3px solid #555}
.accordions .accordion-trigger {display:block;height:70px;padding-left:30px;line-height:70px;color:#666;border-bottom:1px solid #d0cfd5;position: relative}
.accordions .accordion-trigger strong {font-size:20px;color:#000;}
.accordions .accordion-trigger:before {content:"";position:absolute;right:30px;top:30px;display:block;width:22px;height:11px;/*background:url(arrow-image.png) 0 0 no-repeat;*/}
/*.accordions .accordion-trigger.active:before {background-position:0 -11px;}*/
.accordions .accordion-contents {display: none;padding:30px 40px;border-bottom:1px solid #d0cfd5;}

/* pagination */
.pagination {margin-top:40px;text-align:center;}
.pagination .scope {display:inline-block;}
.pagination a,
.pagination span {float:left;width:41px;height:40px;font-size:18px;color:#666;line-height:36px;box-sizing:border-box;border:1px solid #ccc;border-left:0;vertical-align:top;}
.pagination a:hover {background-color:#ebebeb;}
.pagination span {color:#fff;border:1px solid #000;background-color:#222;}
.pagination .dir {/*text-indent:-9999px;background-image:url(../../images/common/bg-pagination.png);background-repeat:no-repeat;*/font-size:10px;}
.pagination .dir:hover {border:1px solid #ccc;border-left:0;background-color:#fff;}
.pagination .dir.first {background-position:0 0;border-left:1px solid #ccc;}
.pagination .dir.prev {background-position:-40px 0;}
.pagination .dir.next {background-position:-80px 0;}
.pagination .dir.last {background-position:-120px 0;}
.pagination .dir.disabled {cursor:default;}
.pagination .dir.first.disabled {background-position:0 -38px;}
.pagination .dir.prev.disabled {background-position:-40px -38px;}
.pagination .dir.next.disabled {background-position:-80px -38px;}
.pagination .dir.last.disabled {background-position:-120px -38px;}

/* tab drag sorting */
#sortWrap {padding:10px;}
#sortWrap .draggable {margin: 10px;padding: 10px 0 10px 20px;background-color: #FFF;border: 1px solid #ddd;cursor: ns-resize;}

/* 3d_floor */
.floor_3d {min-height:400px;}
.floor_3d ul {position:relative;}
.floor_3d .floor {position:absolute;top:50px;left:50px;background-color: #49b293;width: 200px;height: 150px;margin: 0 auto;transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg);}
.floor_3d .floor:nth-child(1) {z-index:100;}
.floor_3d .floor:nth-child(2) {background-color: #ddd;top:130px;z-index:99;}
.floor_3d .floor:nth-child(3) {background-color: #000;top:200px;z-index:98;}
.floor_3d .floor a{display:block;width:100%;height:100%;}

/* slide_wrap */
.slide_wrap li{ width: 100%;min-height: 300px;background: #ccc;text-align: center;}
.bx-controls{text-align: center;}
.bx-controls .bx-controls-direction{padding-top: 20px;}
.bx-controls .bx-controls-direction a{display: inline-block;text-indent: -9999px;width: 10px;height: 10px; overflow: hidden;}
.bx-controls .bx-controls-direction a.bx-prev{transform: rotate(-45deg);border-left: 2px solid #333;border-top: 2px solid #333;}
.bx-controls .bx-controls-direction a.bx-next{transform: rotate(45deg);border-right: 2px solid #333;border-top: 2px solid #333;}
.bx-controls .bx-controls-auto > div{display: inline-block;margin: 0 5px;}
.bx-controls .bx-pager .bx-pager-item {display: inline-block;padding-top: 20px;}
.bx-controls .bx-pager .bx-pager-item a{display: inline-block;width: 10px;height: 10px;margin: 0 3px;border-radius: 50%;text-indent: -9999px;background: #000;}
.bx-controls .bx-pager .bx-pager-item a.active {background:#d71826}

/* card_wrap */
.card_wrap:after {display: block;content: "";clear: both;}
.card_wrap .card_item { position: relative;float:left;width: 50%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;background-color: #fff;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;padding:0 15px 15px;box-sizing: border-box;}
.card_wrap .card-img-top {display:block;width: 100%;}
.card_wrap .card-block {-webkit-box-flex: 1;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.25rem;}
.card_wrap .card-title {margin-bottom:15px;}
.card_wrap .card-text {margin-bottom:10px;}