nav {position:fixed;top:0;left:0;width:100%;border-bottom:1px solid #555;padding:10px 0;background:#fff;z-index: 99;}
nav h1 {text-align:center;font-weight:bold;}

.component .lnb {position:fixed;left:0;top:55px;width:250px;height:100%;border-right:1px solid #555;z-index:10;}
.component .lnb a {display:block;height:60px;padding-left:20px;font-size:16px;color:#666;line-height:60px;text-decoration:none;border-bottom:1px solid #ddd;}
.component .lnb .inner a.active {color:#fff;background-color:#d71826;font-weight:bold;}
.component .lnb a:hover {color:#d71826;font-weight:bold;}
.component .component-area {padding:20px;margin-left:250px;margin-top:55px;}
.component .component-area .component-title {font-size:17px;font-weight:bold;margin:100px 0 5px;}
.component .component-area .component-title:first-child {margin-top:0;}
.component .component-area .component-desc {font-size: 14px;padding: 30px;border: 1px solid #666;border-radius: 5px;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.component .component-area .component-desc.zoomIn {-webkit-animation-name:zoomIn;animation-name:zoomIn;}
.component hr {margin:10px 0;}
.component h2 {font-size:16px;font-weight:bold;margin: 20px 0;color: #222;border-bottom: 1px solid #eaeaea;}
.component h2 span{display: inline-block;margin-bottom: -1px;padding: 0 15px 0 5px;border-bottom: 3px solid #e44548;}


@keyframes zoomIn {
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3);
    }

    50%{
        opacity:1;
    }

}

/* circle 슬라이드 */
.circle_visual{position: relative;height: 60vh;background: deepskyblue;overflow: hidden}
.circle_chart{position: absolute;width: 70%;top: 50%;left: 50%;transform: translate(-50%, -50%);padding-bottom: 10px;}
.circle_chart .circle_content{position: absolute;width: 45%;height: 88%;top: 50%;left: 50%;transform: translate(-50%, -50%);background: #fff;border-radius: 50%;box-shadow: inset 0 0 10px #000000;overflow: hidden}
.circle_chart .circle_content .desc{position: absolute;top: 50%;transform: translateY(-50%);width: 100%;padding: 0 15px;text-align: center;box-sizing: border-box;}
.circle_chart .circle_content .desc .txt1{font-weight: bold;font-size: 3.5vw;color: deepskyblue;}
.circle_chart .circle_content .desc .txt2{font-size: 1.5vw;color: #999;}
@media screen and (max-width: 1200px) {
    .circle_chart{width: 100vw;}
}
@media screen and (max-width: 720px) {
    .circle_chart{width: 150vw;}
    .circle_chart .circle_content{box-shadow: inset 0 0 5px #000000;}
    .circle_chart .circle_content .desc .txt1{font-size: 8vw;}
    .circle_chart .circle_content .desc .txt2{font-size: 1vw;}
}